<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Product Listing Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-thumbnail class="image-allignment">
            <ion-img [src]="productsDeatilsobj?.imageUrl"></ion-img>
          </ion-thumbnail>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-row size="12"><ion-col size="3">ID</ion-col><ion-col>: {{productsDeatilsobj?.id}}</ion-col></ion-row>
          </ion-item>
          <ion-item>
            <ion-row size="12"><ion-col size="3">NAME</ion-col><ion-col>: {{productsDeatilsobj?.name}}</ion-col></ion-row>
          </ion-item>
          <ion-item>
            <ion-row size="12"><ion-col size="3">DESCRIPTION</ion-col><ion-col>: {{productsDeatilsobj?.description}}</ion-col></ion-row>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>